.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .portfolio-item-wrapper {
        position: relative;

        .portfolio-img-background {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 350px;
            width: 100%;
        }

        .img-text-wrapper {
            position: absolute;
            top: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-align: center;
            padding-left: 100px;
            padding-right: 100px;

            .subtitle {
                transition: 1s ease-in-out;
                color: transparent;
                font-size: 1.2rem;
            }

            &:hover .subtitle {
                color: black;
                font-weight: 500;
            }

            .logo-wrapper img {
                width: 40%;
                margin-bottom: 20px;
            }
        }
    }
}

.image-blur {
    transition: 1s;
    filter: blur(10px) grayscale(100%) invert(100%);
}