.rdw-editor-toolbar {
    border: 1px solid $charcoal;
}

.DraftEditor-root {
    border: 1px solid $charcoal;
    padding: 20px;
    border-radius: 3px;
}

.rdw-image-modal {
    left: -240px;
}

.rdw-emoji-modal {
    left: -180px;
}

.rdw-embedded-modal {
    left: -140px;
}